<div class="container">
    <h3>Company Details</h3>
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">

    </div>

    <div class="row hidden-md-up">
        <div class="col-md-4" *ngFor='let data of items | filter:searchText'>
            <div class="card" style="margin: 10px;padding: 10px;">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">{{data.Make_ID}}</h6>
                    <p class="card-text p-y-1">{{data.Make_Name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>